@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&family=Varela+Round&display=swap");
body {
  margin: 3%;
  margin-top: 1%;
  font-family: "Varela Round", sans-serif;
  background-color: #f8d280;
  color: #3e4b5a;
  text-align: center;
}
header {
  background-color: #f79696;
  width: auto;
  height: 10%;
  display: flex;
  border-radius: 20px;
  margin-left: 3%;
  margin-right: 3%;
}
#tituloMenu {
  font-size: 40px;
  position: static;
  margin: auto;
  color: #3e4b5a;
}
#inicio{
  margin-top: 2%;
  margin-bottom: 1%;
  width: 20%;
  height: 80%;
  display: flex;
  position: static;
  margin-left: 9%;
}
#imgHeader {
  width: 22%;
  height: auto;
  align-items: baseline;
  float: right;
  margin-right: 10%;
  position: static; 
}
#alerta {
  background-color: #f50103;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-left: -5%;
  text-align: center;
  margin-right: 3%;
  margin-top: 1%;
  color: #ffffff;
  font-size: 20px;
} /*Hola bb*/
#banner {
  margin-top: 3%;
  width: 80%;
  height: auto;
  display: flex;
  position: static;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  
}
.galeria {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  
}
.galeria img {
  display: flex;
  position: static;
  margin: auto;
  height: 75%;
  width: 80%;
}
#categoria1,
#categoria2 {
  margin-left: auto;
  margin-right: auto;
}
#categoria1 {
  border-right: 2px solid #28303a;
}
.tipoCategoria {
  text-align: center;
  font-size: 25px;
}
#tituloCategoria {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2.5%;
}
.footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.footer_divisiones {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-left: 2px solid #28303a;
}
.footer_divisiones li,
p,
iframe {
  margin-left: 30px;
  margin-right: 30px;
}
#contactenos{
    border-left: none;
  }